p {
  font-family: Georgia, "Times New Roman", Times, serif;
}
div#main {
    font-size: 1.1em;
    margin: .1em .2em .2em .2em;
}
div#bio {
    margin: 0em 30em 0em 2em;
}


.darkmode{
  background-color: #373a3c;
  color: white;
  transition: background-color 1s;
}

div#bio {
  margin: 0em 30em 0em 2em;
}

th,td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
}
